button {
  padding: 0px;
  margin: 20px;
}

mat-card {
  width: 400px;
  text-align: center;
}

mat-card-title span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


