<h1 id="tableLabel">IMDB Data Test</h1>

<p>IMDB Data Test</p>

<p *ngIf="!movies"><em>Loading...</em></p>
<!--<p *ngIf="data"><em>{{ data.title }}</em></p>-->
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
  <tr>
    <th>Test</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies">
    <td>{{ movie.title }}</td>
<!--    <td>{{ movie.description }}</td>-->
    <td><img src="{{ movie.imageLink }}" height="200"></td>
    <td>{{ movie.rating }}</td>
  </tr>
  </tbody>
</table>

